<!-- A bar chart will magically appear here -->
<div id="chart"></div>

<script>
$(document).on('ready page:load', function(event) {
  // apply non-idempotent transformations to the body
  makeBar();
});
</script>
