// Place all the styles related to the residential controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, .arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

g.arc {
  &:hover {
    opacity: .55;
  }
}

// Bar Chart
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  &:hover {
    opacity: .85;
  }
}

.x.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
