<script>
$(document).on('ready page:load', function(event) {
  // apply non-idempotent transformations to the body
  makeMap();
});
</script>

<!-- A map will magically appear here -->
<div id="map"></div>
